<% if (!index && page.source != 'about/index.md'){ %>
  <div class="article-statement">
    <hr>  
    1.除非注明，本博文章均为原创，转载请以链接形式标明本文地址。<br>
    2.本博文章只代表博主当时的观点或结论，与博主公司没有任何关系。<br>
    3.如果本文帮到了您，不妨点一下右下角的 <a>分享到</a> 按钮，或者 <a href='/about/index.html#zan-shang'>小额赞赏</a> 我。<br>
    4.您的鼓励是博主写作最大的动力，感谢您的分享和赞赏，好人一生平安。<br>
  </div>
<% } %>

