<% if (!index){ %>
  <div class="article-statement">
    <hr>  
    1.除非注明，本博文章均为原创，转载请以链接形式标明本文地址。<br>
    2.本博文章只代表博主当时的观点或结论，与博主公司没有任何关系。<br>
    3.如果您认为本博文章质量不错，读后有收获，或解决了您的问题，不妨<a href="#">小额赞赏</a>我。<br>
  </div>
<% } %>