<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">推荐文章</h3>
    <div class="widget">
      <ul>
        <li>
          <a href="http://shijiajie.com/2013/01/28/dsoframer-introduction-resources/" target="_blank">DSOframer 的简单介绍和资源整理</a>
        </li>
      </ul>
    </div>
  </div>
<% } %>