<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">推荐文章</h3>
    <div class="widget">
      <ul>
        <li>
          <a href="http://shijiajie.com/2013/01/28/dsoframer-introduction-resources/" target="_blank">1. DSOframer 的简单介绍和资源整理</a>
        </li>
        <li>
          <a href="http://shijiajie.com/2012/02/15/office-pdf2image/" target="_blank">2. C#技术分享-PDF转图片的10种方法</a>
        </li>
        <li>
          <a href="http://shijiajie.com/2012/02/22/office-doc2image/" target="_blank">3. C#技术分享-DOC转图片的3种方法</a>
        </li>
      </ul>
    </div>
  </div>
<% } %>